
@media only screen and (orientation:portrait){
  #turn{ display:block; }
  #container{ display:none; }
}
@media only screen and (orientation:landscape){
  #turn{ display:none; }
  #container{ display:block; }
}





/* scrolling notification section */
.scrollnot {
background-color:rgba(240, 138, 19, 0.48);

}


.holder { 
  background-color:rgba(240, 138, 19, 0.43);
  width: 750px;
  height: 350px;
  overflow:hidden;
  padding:10px;
  font-family:Helvetica; 
    margin-left: 25%;
   
}
.holder .mask {
  position: relative;
  left: 0px;
  top: 10px;
  width:700px;
  height:340px;
  overflow: hidden;
}
.holder ul {
  list-style:none;
  margin:0;
  padding:0;
  position: relative;
}
.holder ul li {
  padding:10px 30px;
}
.holder ul li a {
  color:darkred;
  text-decoration:none;
#padding: 15px;
}

